*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 80vh;
  height: 40px;
  background-color: antiquewhite;
  margin: auto auto 0;
  display: flex;
}

.board {
  display: flex;
  width: 80vh;
  height: 80vh;
  background-color: black;
  flex-wrap: wrap;
  margin: 10px auto auto;
}

.card {
  display: flex;
  min-width: 19vh;
  height: 19vh;
  background-color: brown;
  border: 1px solid black;
  margin: auto;
  font-size: 4rem;
}

.icon {
  margin: auto;
  visibility: hidden;
}

.unclickable {
  pointer-events: none;
}

.win-window {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  flex-direction: column;
  display: none;
}

.win-window h1 {
  margin: auto auto 10px;
}

.win-window .stars-summary {
  display: flex;
  margin: 0 auto 10px;
}

.win-window p {
  text-align: center;
}

.win-window .play-again-button {
  width: 100px;
  height: 30px;
  border: none;
  margin: 30px auto auto;
}

.invisible {
  visibility: hidden;
}

/*
.card:przenieść do js {
  transform: rotateY(180deg);
  transition: 0.5s;
}
*/

/*RESPONSIVE*/

@media only screen and (max-width: 540px){
  .menu {
    width: 60vh;
  }
  
  .board {
    width: 60vh;
    height: 60vh;
  }
  
  .card {
    min-width: 14vh;
    height: 14vh;
  }
}

@media only screen and (max-width: 460px){
  .menu {
    width: 50vh;
  }
  
  .board {
    width: 50vh;
    height: 50vh;
  }
  
  .card {
    min-width: 11.5vh;
    height: 11.5vh;
  }
}