*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 80vh;
  height: 40px;
  background-color: antiquewhite;
  margin: auto auto 0;
}

.board {
  display: flex;
  width: 80vh;
  height: 80vh;
  background-color: aqua;
  flex-wrap: wrap;
  margin: 10px auto auto;
}

.card {
  min-width: 19vh;
  height: 19vh;
  background-color: brown;
  border: 1px solid black;
  margin: auto;
}


/*RESPONSIVE*/

@media only screen and (max-width: 540px){
  .menu {
    width: 60vh;
  }
  
  .board {
    width: 60vh;
    height: 60vh;
  }
  
  .card {
    min-width: 14vh;
    height: 14vh;
  }
}

@media only screen and (max-width: 460px){
  .menu {
    width: 50vh;
  }
  
  .board {
    width: 50vh;
    height: 50vh;
  }
  
  .card {
    min-width: 11.5vh;
    height: 11.5vh;
  }
}