*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 80vh;
  height: 40px;
  background-color: #fff;
  margin: auto auto 0;
  display: flex;
/*
  border: 1px solid black;
  border-radius: 2%;
*/
}

.star {
  margin: auto 2px;
  font-size: 2rem;
}

.menu p {
  margin: auto;
  font-size: 1.7rem;
}

.reset-button {
  width: 30%;
  height: 80%;
  margin: auto 5px auto auto;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
}

.reset-button:hover {
  background-color: orangered;
}

.board {
  display: flex;
  width: 80vh;
  height: 80vh;
  background-color: #fff;
  flex-wrap: wrap;
  margin: 10px auto auto;
}

.card {
  display: flex;
  min-width: 19vh;
  height: 19vh;
  background-color: brown;
  border: 1px solid black;
  margin: auto;
  font-size: 4rem;
  cursor: pointer;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.icon {
  margin: auto;
  visibility: hidden;
}

.unclickable {
  pointer-events: none;
}

.win-window {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  flex-direction: column;
  display: none;
}

.win-window h1 {
  margin: auto auto 10px;
  font-size: 4rem;
}

.win-window .stars-summary {
  display: flex;
  margin: 0 auto 10px;
  font-size: 2.5rem;
}

.win-window p {
  text-align: center;
  font-size: 1.8rem;
}

.win-window .play-again-button {
  width: 100px;
  height: 30px;
  border: none;
  margin: 30px auto auto;
  cursor: pointer;
}

.play-again-button:hover{
  background-color: lightgreen;
}

.invisible {
  visibility: hidden;
}


/*RESPONSIVE*/

@media only screen and (max-width: 540px){
  .menu {
    width: 60vh;
  }
  
  .board {
    width: 60vh;
    height: 60vh;
  }
  
  .card {
    min-width: 14vh;
    height: 14vh;
  }
}

@media only screen and (max-width: 460px){
  .menu {
    width: 50vh;
  }
  
  .board {
    width: 50vh;
    height: 50vh;
  }
  
  .card {
    min-width: 11.5vh;
    height: 11.5vh;
  }
}